src/main/resources/xsd/executeTask.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns2="http://ocsplatform.mobifone.vn"
           targetNamespace="http://ocsplatform.mobifone.vn">

    <xs:element name="executeTaskReq">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="executeTaskRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionStatus" type="xs:string"/>
                <xs:element name="resultMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
