src/main/resources/xsd/executeTask.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://alcatel-lucent.com/esm/ws/svcmgr/V2_0">

    <xs:element name="ExecuteTaskRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ExecuteTaskResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionStatus" type="xs:string"/>
                <xs:element name="resultMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
