src/main/resources/xsd/keepAlive.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://alcatel-lucent.com/esm/ws/svcmgr/V2_0">

    <xs:element name="KeepAliveRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionIdKeep" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="KeepAliveResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionStatusKeep" type="xs:string"/>
                <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
