src/main/resources/xsd_bak/keepAlive.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns2="http://ocsplatform.mobifone.vn"
           targetNamespace="http://ocsplatform.mobifone.vn">

    <xs:element name="keepAliveReq">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionIdKeep" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="keepAliveRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionStatusKeep" type="xs:string"/>
                <xs:element name="sessionId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
